.card {
    perspective: 150rem;

    &__side {
        background-color: palegreen;
        height: 50rem;
        transition: all 1s;
    }

    &:hover &__side {
        transform: rotateY(180deg);
    }
}