@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY MANAGER
/*
0 - 600px      Phone
600 - 900px    Tablet potrait
900 - 1200px   Tablet landscape
1200 - 1800px  Normal styles apply here
1800px +       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

// BTW I DON'T KNOW WHY THE INSTRUCTOR IS USING EMs INSTEAD OF PIXELS FOR MEDIA QUERIES

// Order: Base + typography > general layout + grid > page layout > comments

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 600px) {
            @content
        }

        ;
    }

    @if $breakpoint==tab-port {
        @media (max-width: 900px) {
            @content
        }

        ;
    }

    @if $breakpoint==tab-land {
        @media (max-width: 1200px) {
            @content
        }

        ;
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 1800px) {
            @content
        }

        ;
    }
}